.introduccion__caja{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 0;
}

@media screen and (min-width: 0){
    .introduccion__caja {
        order: 1;
    }
}

@media screen and (min-width: 360px){
    .introduccion__caja {
        order: 0;
    }
}


