.perfil__foto{
    height: 300px;
    width: 300px;

    margin: 0 auto;

    background-image: url(/assets/img/1786c943-0e81-4f98-80a8-0b3a51cc43c8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 100%;

    order: 1;

    flex: none;
}

@media screen and (min-width: 0){
    .perfil__foto {
        height: 98px;
        width: 98px;
    }
}

@media screen and (min-width: 360px){
    .perfil__foto {
        height: 196px;
        width: 196px;

    }
}

@media screen and (min-width: 768px) {
    .perfil__foto {
        height: 300px;
        width: 300px;
    }
}