.contacto__seccion{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    background: var(--azul);
}

@media screen and (min-width: 0){
    .contacto__seccion {
        width: 100%;

        padding-bottom: 2rem;
    }
    
}

@media screen and (min-width: 360px){
    .contacto__seccion {
        width: 100%;

        padding-bottom: 2rem;
    }
    
}

@media screen and (min-width: 780px){
    .contacto__seccion {
        padding: 4rem 0 4rem 0;
    }
    
}

